.bottoms {
  text-align: center;
  height:100%;
}
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
html, body {
  height:100%;
  width:100%;
  font-family:'Roboto' sans-serif;
  color:#222;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}

.btn-primary {
  border:1px solid #6648b1;
}
.media-body-padding {
  padding-bottom: 10rem;
  padding-top: 10rem;
}
.padding{
  padding-bottom: 10rem;
  padding-top: 10rem;
}

<<<<<<< HEAD
.icon{
  font-size: 60px;
=======
.row-margin{
  margin-top: 20px;
}


.carousel-inner {
  max-height: 500px !important
}
.icon{
  font-size:125px;
  color: #98B7D7
>>>>>>> 9ddfdc1265895b7be68ec435af6da90f7c7e24c7
}

.landPage{
    max-height: 600px !important
}
/*.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}*/