.bottoms {
  text-align: center;
  height:100%;
}
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/*.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}*/